body {
    background: slategray;
}

#frame {
    width: 80%;
    max-width: 1000px;
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1-px;
    grid-auto-rows: minmax(100px, auto);
}

#backgroundImage {
    background: darkblue;
    grid-column: 1/5;
    grid-row: 1/5;
}

#talkframe {
    grid-column: 1/5;
    grid-row: 5/7;
    width: 100%;
    background: cadetblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1-px;
    grid-auto-rows: minmax(100px, auto);
}

#textframe {
    background: black;
    color: white;
    grid-column: 1/5;
    grid-row: 1;
    align-items: center;
    display: flex;
}

#iconframe {
    background: yellow;
    grid-column: 5;
    grid-row: 1;
    align-items: center;
    display: flex;
}